<div class="answer" id="answer_<%= answer.id %>">
	Name: <%= answer.user.name %>
	<div style="display: inline-flex;">
		<%= form_tag url_for(controller: "home", action: "up_vote", method: "post"), id: "upvoteA_#{answer.id}", remote: true do %>
			<%= hidden_field_tag("type", "A") %>
			<%= hidden_field_tag("upvotetype_id", answer.id) %>
			<%= submit_tag("Up Vote " + Upvote.where(upvotetype_id: answer.id, upvote_type: 'A').length.to_s) %>
		<% end %>
		<%= form_tag url_for(controller: "home", action: "down_vote", method: "post"), id: "downvoteA_#{answer.id}", remote: true do %>
			<%= hidden_field_tag("type", "A") %>
			<%= hidden_field_tag("downvotetype_id", answer.id) %>
			<%= submit_tag("Down Vote " + Downvote.where(downvotetype_id: answer.id, downvote_type: 'A').length.to_s) %>
		<% end %>
	</div>
	<br>
	<div id="answer_content_<%= answer.id %>">
		<div class="fr-view">
			<%= simple_format(answer.content) %>
		</div>	
	</div>
	<div style="display: inline-flex;">
		<%= form_tag url_for(controller: "home", action: "edit", method: "post"), id: "editA_#{answer.id}", remote: true do %>
			<%= hidden_field_tag("answer_id", answer.id) %>
			<%= submit_tag("Edit Answer") %>
		<% end %>
		<%= form_tag url_for(controller: "home", action: "delete", method: "post"), id: "deleteA_#{answer.id}", remote: true do %>
			<%= hidden_field_tag("type", "A") %>
			<%= hidden_field_tag("deletetype_id", answer.id) %>
			<%= submit_tag("Delete Answer") %>
		<% end %>
	</div>
	<br><br>
</div>