<div class="question" id="question_<%= question.id %>">
	Name: <%= question.user.name %>
	<div style="display: inline-flex;">
		<%= form_tag url_for(controller: "home", action: "up_vote", method: "post"), id: "upvoteQ_#{question.id}", remote: true do %>
			<%= hidden_field_tag("type", "Q") %>
			<%= hidden_field_tag("upvotetype_id", question.id) %>
			<%= submit_tag("Up Vote " + Upvote.where(upvotetype_id: question.id, upvote_type: 'Q').length.to_s) %>
		<% end %>
		<%= form_tag url_for(controller: "home", action: "down_vote", method: "post"), id: "downvoteQ_#{question.id}", remote: true do %>
			<%= hidden_field_tag("type", "Q") %>
			<%= hidden_field_tag("downvotetype_id", question.id) %>
			<%= submit_tag("Down Vote " + Downvote.where(downvotetype_id: question.id, downvote_type: 'Q').length.to_s) %>
		<% end %>
	</div>
	<br>
	<div class="fr-view">
		<%= simple_format(question.content) %>
	</div>
	<%= form_tag url_for(controller: "home", action: "delete", method: "post"), id: "deleteQ_#{question.id}", remote: true do %>
		<%= hidden_field_tag("type", "Q") %>
		<%= hidden_field_tag("deletetype_id", question.id) %>
		<%= submit_tag("Delete Question") %>
	<% end %>

	<div class="answers" id="answers_<%= question.id %>">
		ANSWERS<br><br>
		<% Answer.where(question_id: question.id).each do |a| %>
			
			<%= render 'home/answer', answer: a %>

		<% end %>
		<%= form_tag url_for(controller: "home", action: "answer", method: "post"), class: "giveAns", remote: true do %>

			<%= label_tag("Answer: ") %>
			<%= text_area_tag(:content) %><br>
			<%= hidden_field_tag("question_id", question.id) %>
			<%= submit_tag("Submit") %>
		<% end %>
	</div>

</div>