<%= current_user.email %>

<%= form_tag(controller: "home", action: "question", method: "post") do %>

	<%= label_tag("Question") %><br>
	<%= text_area_tag(:content) %><br>
	<%= submit_tag("Submit") %>
<% end %>

Questions
<div style="border: thick solid black;">
	<% Question.all.each do |q| %>

		<div style="border: medium solid black;">
			email: <%= q.user.email %>
			<%= form_tag(controller: "home", action: "up_vote", method: "post") do %>
				<%= hidden_field_tag("type", "Q") %>
				<%= hidden_field_tag("upvotetype_id", q.id) %>
				<%= submit_tag("Up Vote " + Upvote.where(upvotetype_id: q.id, upvote_type: 'Q').length.to_s) %>
			<% end %>
			<%= form_tag(controller: "home", action: "down_vote", method: "post") do %>
				<%= hidden_field_tag("type", "Q") %>
				<%= hidden_field_tag("downvotetype_id", q.id) %>
				<%= submit_tag("Down Vote " + Downvote.where(downvotetype_id: q.id, downvote_type: 'Q').length.to_s) %>
			<% end %>
			<br>
			<%= q.content %>

			<div style="border: thin solid black;">
				Answers<br><br>
				<% Answer.where(question_id: q.id).each do |a| %>
					email: <%= User.find(a.user_id).email %>
					<%= form_tag(controller: "home", action: "up_vote", method: "post") do %>
						<%= hidden_field_tag("type", "A") %>
						<%= hidden_field_tag("upvotetype_id", q.id) %>
						<%= submit_tag("Up Vote " + Upvote.where(upvotetype_id: q.id, upvote_type: 'A').length.to_s) %>
					<% end %>
					<%= form_tag(controller: "home", action: "down_vote", method: "post") do %>
						<%= hidden_field_tag("type", "A") %>
						<%= hidden_field_tag("downvotetype_id", q.id) %>
						<%= submit_tag("Up Vote " + Downvote.where(downvotetype_id: q.id, downvote_type: 'Q').length.to_s) %>
					<% end %>
					<br>
					<%= a.content %><br><br>
				<% end %>
				<%= form_tag(controller: "home", action: "answer", method: "post") do %>

					<%= label_tag("Answer: ") %>
					<%= text_area_tag(:content) %><br>
					<%= hidden_field_tag("question_id", q.id) %>
					<%= submit_tag("Submit") %>
				<% end %>
			</div>

		</div>		

	<% end %> 
</div>