<%= current_user.name %>

<%= form_tag url_for(controller: "home", action: "question"), class: "askQuestion", remote: true do %>

	<%= label_tag("Question") %><br>
	<%= text_area_tag(:content) %><br>
	<%= submit_tag("Submit") %>
<% end %>



QUESTIONS
<div id="questions">
	<% Question.all.each do |q| %>

		<%= render 'home/question', question: q %>

	<% end %> 
</div>