<%= current_user.email %>

<%= form_tag url_for(controller: "home", action: "question"), class: "askQuestion", remote: true do %>

	<%= label_tag("Question") %><br>
	<%= text_area_tag(:content) %><br>
	<%= submit_tag("Submit") %>
<% end %>



QUESTIONS
<div id="questions">
	<% Question.all.each do |q| %>

		<div class="question">
			email: <%= q.user.email %>
			<div style="display: inline-flex;">
				<%= form_tag url_for(controller: "home", action: "up_vote", method: "post"),id: "upvoteQ_#{q.id}", remote: true do %>
					<%= hidden_field_tag("type", "Q") %>
					<%= hidden_field_tag("upvotetype_id", q.id) %>
					<%= submit_tag("Up Vote " + Upvote.where(upvotetype_id: q.id, upvote_type: 'Q').length.to_s) %>
				<% end %>
				<%= form_tag url_for(controller: "home", action: "down_vote", method: "post"), id: "downvoteQ_#{q.id}", remote: true do %>
					<%= hidden_field_tag("type", "Q") %>
					<%= hidden_field_tag("downvotetype_id", q.id) %>
					<%= submit_tag("Down Vote " + Downvote.where(downvotetype_id: q.id, downvote_type: 'Q').length.to_s) %>
				<% end %>
			</div>
			<br>
			<%= q.content %>

			<div class="answers" id="answers_<%= q.id %>">
				ANSWERS<br><br>
				<% Answer.where(question_id: q.id).each do |a| %>
					<div class="answer" id="answer_<%= a.id %>">
						email: <%= User.find(a.user_id).email %>
						<div style="display: inline-flex;">
							<%= form_tag url_for(controller: "home", action: "up_vote", method: "post"), id: "upvoteA_#{a.id}", remote: true do %>
								<%= hidden_field_tag("type", "A") %>
								<%= hidden_field_tag("upvotetype_id", a.id) %>
								<%= submit_tag("Up Vote " + Upvote.where(upvotetype_id: a.id, upvote_type: 'A').length.to_s) %>
							<% end %>
							<%= form_tag url_for(controller: "home", action: "down_vote", method: "post"), id: "downvoteA_#{a.id}", remote: true do %>
								<%= hidden_field_tag("type", "A") %>
								<%= hidden_field_tag("downvotetype_id", a.id) %>
								<%= submit_tag("Down Vote " + Downvote.where(downvotetype_id: a.id, downvote_type: 'A').length.to_s) %>
							<% end %>
						</div>
						<br>
						<div id="answer_content_<%= a.id %>"><%= a.content %></div>
						<div style="display: inline-flex;">
							<%= form_tag url_for(controller: "home", action: "edit", method: "post"), id: "editA_#{a.id}", remote: true do %>
								<%= hidden_field_tag("answer_id", a.id) %>
								<%= submit_tag("Edit Answer") %>
							<% end %>
						</div>
						<br><br>
					</div>
				<% end %>
				<%= form_tag url_for(controller: "home", action: "answer", method: "post"), class: "giveAns", remote: true do %>

					<%= label_tag("Answer: ") %>
					<%= text_area_tag(:content) %><br>
					<%= hidden_field_tag("question_id", q.id) %>
					<%= submit_tag("Submit") %>
				<% end %>
			</div>

		</div>

	<% end %> 
</div>